*{
    box-sizing: border-box;

}

h1{
    text-align: center;
}


.forecast{
    border: black solid 1px;
    height: 200px;

}

.card{
    background-color: rgb(65, 75, 95);
}

#icon{
    width: 50px;
    height: 50px;
}

.forecast h2,h5 {
    width: fit-content;
}